



.todo-list-content-div {
  background-color: #7000FF;
  margin-top: 10px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.todo-list-subdiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
  color: white;
  width: 460px;
}

.no-todo-content-div{
  background-color: #7000FF;
  margin-top: 10px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 470px;
  height: 40px;
}

@media (max-width: 768px) {
  .todo-list-content-div {
    width: 100%;
  }
}