.todo-item{
  background-color: #000;
  border-radius: 10px;
  display: flex;
  justify-content: space-between; /* Establece un espaciado igual entre los elementos */
  align-items: center;
  margin-bottom: 10px;
  height: 40px;
  width: 98%;
  
  overflow: hidden;
}

.checkbox_off {
  background-color: #7000FF;
  color: #7000FF;
  display: inline-block;
  padding: 1%;
  margin-left: 5%;
  height: auto;
}



.checkbox_off:hover {
  background-color: #fff;
  color: #000;
  font-weight: bold;
  cursor: pointer;
}

.checkbox_on {
  background-color: #fff;
  color: #7000FF;
  display: inline-block;
  padding: 1%;
  margin-left: 5%;
  height: auto;
}

.checkbox_on:hover {
  background-color: #7000FF;
  color: #7000FF;
  font-weight: bold;
  cursor: pointer;
}

.checkOn-item {
  color: white;
}	

.checkOff-item {
  color: #000;
}

.todo-item-text-checked{
  text-decoration: line-through;
  color: #fff;
}

.btn-borrar-todo{
  background-color: #7000FF;
  padding: 1%;
  margin-right: 1%;
}

.btn-borrar-todo:hover{
  background-color: #fff;
  color: #000;
  font-weight: bold;
  cursor: pointer;
}