.todo-results{
    background-color: #7000FF;
    color: white;
    margin-top: 10px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 470px;
    height: 40px;
}

@media (max-width: 768px) {
    .todo-results {
        width: 95%;
    }
}