body {
  margin: 0 0 0 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.todo-list-content {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 20px;
  height: 90.5vh;
 
  
}

.error-api-div{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgb(255, 0, 0);
  color: white;
  font-size: 30px;
}

@media (max-width: 768px) {
  .todo-list-content {
    height: 91vh;
    flex-direction: column;
    align-items: center;
    
  }
}